<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('https://raw.githubusercontent.com/vdubyna/hillel-ml/main/hw-3/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [3]:
# Ваш код тут
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [4]:
# Ваш код тут
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [5]:
# Ваш код тут
germany_percentage1 = data['native-country'].value_counts(normalize=True)['Germany'] * 100
print("Calc option1: {:.2f}%".format(germany_percentage1))

total = data['native-country'].count()
germany = data[data['native-country'] == 'Germany']['native-country'].count()

germany_percentage2 = (germany / total) * 100
print("Calc option2: {:.2f}%".format(germany_percentage2))

Calc option1: 0.42%
Calc option2: 0.42%

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [6]:
# Ваш код тут
more_than_50k_age = data[data['salary'] == '>50K']['age']
mean_more_than_50k = more_than_50k_age.mean()
std_dev_more_than_50k = more_than_50k_age.std()

less_than_50k_age = data[data['salary'] == '<=50K']['age']
mean_less_than_50k = less_than_50k_age.mean()
std_dev_less_than_50k = less_than_50k_age.std()

print('> 50K:')
print(f"Mean age: {mean_more_than_50k:.2f}")
print(f"Std age: {std_dev_more_than_50k:.2f}")

print('<= 50K:')
print(f"Mean age:', {mean_less_than_50k:.2f}")
print(f"Std age:', {std_dev_less_than_50k:.2f}")

> 50K:
Mean age: 44.25
Std age: 10.52
<= 50K:
Mean age:', 36.78
Std age:', 14.02

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
# Ваш код тут
high_salary = data[data['salary'] == '>50K']
high_educations = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

education_more_50k_values = high_salary['education'].value_counts()
print(education_more_50k_values)

high_educated_high_salary = high_salary['education'].isin(high_educations).sum()

total_high_salary = high_salary.shape[0]

percentage_high_educated_high_salary = (high_educated_high_salary / total_high_salary) * 100

print(f"Percentage of high salary earners with higher education: {percentage_high_educated_high_salary:.2f}%")

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64
Percentage of high salary earners with higher education: 57.84%

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [8]:
# Ваш код тут
data.groupby(['sex', 'race'])['age'].describe()

                             count       mean        std   min   25%   50%  \
sex    race
Female Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
       Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
       Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
       Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
       White                8642.0  36.811618  14.329093  17.0  25.0  35.0
Male   Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
       Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
       Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
       Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
       White               19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
sex    race
Female Amer-Indian-Eskimo  46.00  80.0
       Asian-Pac-Islander  43.75  75.0
       Black               46.00  90.0
       Other               39.00  74.0
       White               46.00  90.0
Male   Amer-Indian-Eskimo  45.00  82.0
       Asian-Pac-Islander  46.00  90.0
       Black               46.00  90.0
       Other               42.00  77.0
       White               49.00  90.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [9]:
# Ваш код тут
high_salary = data[data['salary'] == '>50K'].copy()
married_statuses = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

high_salary['is_married'] = high_salary['marital-status'].apply(lambda status: 'Married' if status in married_statuses else 'Not married')

high_salary_male = high_salary[high_salary['sex'] == 'Male']
total_married = high_salary_male[high_salary_male['is_married'] == 'Married']
married_percent = (total_married['is_married'].count() / high_salary_male['is_married'].count()) * 100
print(f"{married_percent:.2f}%")

89.54%

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [10]:
# Ваш код тут
max_hours_per_week = data['hours-per-week'].agg('max')
people_max_hours = data[data['hours-per-week'] == max_hours_per_week]
count_people_max_hours = people_max_hours.shape[0]
rich_people_max_hours = people_max_hours[people_max_hours['salary'] == '>50K'].shape[0]
percentage_rich_max_hours = (rich_people_max_hours / count_people_max_hours) * 100

print('Max hours per week:', max_hours_per_week)
print('People:', count_people_max_hours)
print(f"Percentage of rich working max hours: {percentage_rich_max_hours:.2f}%")

Max hours per week: 99
People: 85
Percentage of rich working max hours: 29.41%

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [11]:
# Ваш код тут
pd.set_option('display.max_rows', 200)
avg_work_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
avg_work_hours

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64