Для датасету https://archive.ics.uci.edu/ml/datasets/Abalone  використати не менше 4 енкодерів для кодування колонки"Sex"(стать)
Моделі тренувати не потрібно!

In [1]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from category_encoders.target_encoder import TargetEncoder
from category_encoders.sum_coding import SumEncoder
from category_encoders.m_estimate import MEstimateEncoder
from category_encoders.helmert import HelmertEncoder
from category_encoders.cat_boost import CatBoostEncoder
from category_encoders.james_stein import JamesSteinEncoder

In [2]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (1.13.0)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [3]:
df = pd.read_csv('hw-7/abalone.data')
df.columns = ["Sex", "Length", "Diameter", "Height", "Whole", "Shucked", "Viscera", "Shell", "Rings"]
df

     Sex  Length  Diameter  Height   Whole  Shucked  Viscera   Shell  Rings
0      M   0.350     0.265   0.090  0.2255   0.0995   0.0485  0.0700      7
1      F   0.530     0.420   0.135  0.6770   0.2565   0.1415  0.2100      9
2      M   0.440     0.365   0.125  0.5160   0.2155   0.1140  0.1550     10
3      I   0.330     0.255   0.080  0.2050   0.0895   0.0395  0.0550      7
4      I   0.425     0.300   0.095  0.3515   0.1410   0.0775  0.1200      8
...   ..     ...       ...     ...     ...      ...      ...     ...    ...
4171   F   0.565     0.450   0.165  0.8870   0.3700   0.2390  0.2490     11
4172   M   0.590     0.440   0.135  0.9660   0.4390   0.2145  0.2605     10
4173   M   0.600     0.475   0.205  1.1760   0.5255   0.2875  0.3080      9
4174   F   0.625     0.485   0.150  1.0945   0.5310   0.2610  0.2960     10
4175   M   0.710     0.555   0.195  1.9485   0.9455   0.3765  0.4950     12

[4176 rows x 9 columns]

In [4]:
# Use OneHotEncoder
one_hot_enc = OneHotEncoder()
# X = [['M', 1], ['F', 2], ['I', 3]]
# one_hot_enc.fit(X)
one_hot_enc.fit_transform(df[['Sex']])
one_hot_enc.categories_

[array(['F', 'I', 'M'], dtype=object)]

In [5]:
one_hot_encoded = one_hot_enc.transform(df[['Sex']]).toarray()

In [6]:
one_hot_enc.get_feature_names_out(['Sex'])

array(['Sex_F', 'Sex_I', 'Sex_M'], dtype=object)

In [7]:
df_one_hot_encoded = pd.DataFrame(one_hot_encoded, columns=one_hot_enc.get_feature_names_out(['Sex']))
df_one_hot_encoded

      Sex_F  Sex_I  Sex_M
0       0.0    0.0    1.0
1       1.0    0.0    0.0
2       0.0    0.0    1.0
3       0.0    1.0    0.0
4       0.0    1.0    0.0
...     ...    ...    ...
4171    1.0    0.0    0.0
4172    0.0    0.0    1.0
4173    0.0    0.0    1.0
4174    1.0    0.0    0.0
4175    0.0    0.0    1.0

[4176 rows x 3 columns]

In [8]:
# Add encoded values to original df
df = pd.concat([df, df_one_hot_encoded], axis=1)
df

,Sex,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings,Sex_F,Sex_I,Sex_M
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0.0,0.0,1.0
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,1.0,0.0,0.0
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,0.0,0.0,1.0
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,0.0,1.0,0.0
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,1.0,0.0,0.0
4172,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,0.0,0.0,1.0
4173,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,0.0,0.0,1.0
4174,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,1.0,0.0,0.0
4175,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,0.0,0.0,1.0

In [9]:
# Label encoder - не підходить як на мене для цієї задачі, оскільки він намагається упорядкувати значення від 0 до 1

In [10]:
# Sum encoder
sum_enc = SumEncoder(cols=['Sex'])

# Fit and transform the 'Sex' column
df_sum_encoded = sum_enc.fit_transform(df[['Sex']], df['Rings'])
df_sum_encoded
# TODO review intercept column and warnings

/opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
/opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

      intercept  Sex_0  Sex_1
0             1    1.0    0.0
1             1    0.0    1.0
2             1    1.0    0.0
3             1   -1.0   -1.0
4             1   -1.0   -1.0
...         ...    ...    ...
4171          1    0.0    1.0
4172          1    1.0    0.0
4173          1    1.0    0.0
4174          1    0.0    1.0
4175          1    1.0    0.0

[4176 rows x 3 columns]

In [11]:
helmert_enc = HelmertEncoder(cols=['Sex'])  # OHE and Sum Encoding.
df_helmert_encoded = helmert_enc.fit_transform(df[['Sex']], df['Rings'])
df_helmert_encoded

/opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
/opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages/category_encoders/base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

      intercept  Sex_0  Sex_1
0             1   -1.0   -1.0
1             1    1.0   -1.0
2             1   -1.0   -1.0
3             1    0.0    2.0
4             1    0.0    2.0
...         ...    ...    ...
4171          1    1.0   -1.0
4172          1   -1.0   -1.0
4173          1   -1.0   -1.0
4174          1    1.0   -1.0
4175          1   -1.0   -1.0

[4176 rows x 3 columns]

In [12]:
target_enc = TargetEncoder()
df_target_encoded = target_enc.fit_transform(df[['Sex']], df['Rings'])
df_target_encoded
# TODO IT is not clear how calculations works exactly, review it later

            Sex
0     10.702685
1     11.129304
2     10.702685
3      7.890462
4      7.890462
...         ...
4171  11.129304
4172  10.702685
4173  10.702685
4174  11.129304
4175  10.702685

[4176 rows x 1 columns]

In [13]:
mestimate_enc = MEstimateEncoder()  # Simplified version of Target Encoder
df_mestimate_encoded = mestimate_enc.fit_transform(df[['Sex']], df['Rings'])
df_mestimate_encoded

            Sex
0     10.702181
1     11.128389
2     10.702181
3      7.891982
4      7.891982
...         ...
4171  11.128389
4172  10.702181
4173  10.702181
4174  11.128389
4175  10.702181

[4176 rows x 1 columns]

In [14]:
# WOE_encoder - тільки для бінарної класифікації. Не підходить

In [15]:
jse_enc = JamesSteinEncoder()
df_jse_encoded = jse_enc.fit_transform(df[['Sex']], df['Rings'])
df_jse_encoded
# TODO looks very similar to Target encoder

            Sex
0     10.702685
1     11.129304
2     10.702685
3      7.890462
4      7.890462
...         ...
4171  11.129304
4172  10.702685
4173  10.702685
4174  11.129304
4175  10.702685

[4176 rows x 1 columns]

In [16]:
cbe_enc = CatBoostEncoder()
df_cbe_encoded = cbe_enc.fit_transform(df[['Sex']], df['Rings'])
df_cbe_encoded

            Sex
0      9.932471
1      9.932471
2      8.466236
3      9.932471
4      8.466236
...         ...
4171  11.129351
4172  10.702907
4173  10.702446
4174  11.129252
4175  10.701331

[4176 rows x 1 columns]

In [17]:
# Review how dummies work wit Sex
df_dummy_encoded = pd.get_dummies(df[['Sex']], columns=['Sex'], drop_first=True, prefix='DSex')
df = pd.concat([df, df_dummy_encoded], axis=1)
df

,Sex,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings,Sex_F,Sex_I,Sex_M,DSex_I,DSex_M
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0.0,0.0,1.0,False,True
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,1.0,0.0,0.0,False,False
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,0.0,0.0,1.0,False,True
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,0.0,1.0,0.0,True,False
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8,0.0,1.0,0.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,1.0,0.0,0.0,False,False
4172,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,0.0,0.0,1.0,False,True
4173,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,0.0,0.0,1.0,False,True
4174,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,1.0,0.0,0.0,False,False
4175,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,0.0,0.0,1.0,False,True